In [1]:
# import library
import pandas as pd

In [2]:
'DATA COLLECTION'

'DATA COLLECTION'

In [3]:
'1. cases_malaysia dataset'

'1. cases_malaysia dataset'

In [4]:
#load cases_malaysia dataset CSV file using Pandas
df_malaysia = pd.read_csv('cases_malaysia.csv')
df_malaysia

,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,cases_boost,...,cases_60_69,cases_70_79,cases_80,cluster_import,cluster_religious,cluster_community,cluster_highRisk,cluster_education,cluster_detentionCentre,cluster_workplace
0,2020-01-25,4,4,0,4,0,4,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-26,0,0,0,4,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-27,0,0,0,4,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-28,0,0,0,4,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-29,3,3,0,7,0,3,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,2022-11-29,1672,1,2722,26578,4,174,7,352,1139,...,103,59,68,0.0,0.0,0.0,0.0,4.0,0.0,0.0
1040,2022-11-30,1737,1,3338,24960,0,197,11,399,1130,...,141,85,86,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1041,2022-12-01,2375,4,2857,24467,106,264,8,641,1462,...,138,116,86,0.0,0.0,0.0,10.0,96.0,0.0,0.0
1042,2022-12-02,2421,2,2826,24053,7,241,10,544,1626,...,136,108,90,0.0,0.0,0.0,0.0,7.0,0.0,0.0
1043,2022-12-03,1866,6,2814,23099,4,181,12,389,1284,...,94,84,79,0.0,0.0,0.0,0.0,4.0,0.0,0.0

In [5]:
print(df_malaysia)

            date  cases_new  cases_import  cases_recovered  cases_active  \
0     2020-01-25          4             4                0             4
1     2020-01-26          0             0                0             4
2     2020-01-27          0             0                0             4
3     2020-01-28          0             0                0             4
4     2020-01-29          3             3                0             7
...          ...        ...           ...              ...           ...
1039  2022-11-29       1672             1             2722         26578
1040  2022-11-30       1737             1             3338         24960
1041  2022-12-01       2375             4             2857         24467
1042  2022-12-02       2421             2             2826         24053
1043  2022-12-03       1866             6             2814         23099

      cases_cluster  cases_unvax  cases_pvax  cases_fvax  cases_boost  ...  \
0                 0            4           0           0            0  ...
1                 0            0           0           0            0  ...
2                 0            0           0           0            0  ...
3                 0            0           0           0            0  ...
4                 0            3           0           0            0  ...
...             ...          ...         ...         ...          ...  ...
1039              4          174           7         352         1139  ...
1040              0          197          11         399         1130  ...
1041            106          264           8         641         1462  ...
1042              7          241          10         544         1626  ...
1043              4          181          12         389         1284  ...

      cases_60_69  cases_70_79  cases_80  cluster_import  cluster_religious  \
0               0            0         0             NaN                NaN
1               0            0         0             NaN                NaN
2               0            0         0             NaN                NaN
3               0            0         0             NaN                NaN
4               0            0         0             NaN                NaN
...           ...          ...       ...             ...                ...
1039          103           59        68             0.0                0.0
1040          141           85        86             0.0                0.0
1041          138          116        86             0.0                0.0
1042          136          108        90             0.0                0.0
1043           94           84        79             0.0                0.0

      cluster_community  cluster_highRisk  cluster_education  \
0                   NaN               NaN                NaN
1                   NaN               NaN                NaN
2                   NaN               NaN                NaN
3                   NaN               NaN                NaN
4                   NaN               NaN                NaN
...                 ...               ...                ...
1039                0.0               0.0                4.0
1040                0.0               0.0                0.0
1041                0.0              10.0               96.0
1042                0.0               0.0                7.0
1043                0.0               0.0                4.0

      cluster_detentionCentre  cluster_workplace
0                         NaN                NaN
1                         NaN                NaN
2                         NaN                NaN
3                         NaN                NaN
4                         NaN                NaN
...                       ...                ...
1039                      0.0                0.0
1040                      0.0                0.0
1041                      0.0                0.0
1042                      0.0                0.0
1043                      0.0                0.0

[1044 rows x 31 columns]

In [6]:
#review data format
print("Cases_malaysia dataset dimensions : {}".format(df_malaysia.shape))

Cases_malaysia dataset dimensions : (1044, 31)

In [7]:
#review data types, shape, lengths
df_malaysia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     1044 non-null   object
 1   cases_new                1044 non-null   int64
 2   cases_import             1044 non-null   int64
 3   cases_recovered          1044 non-null   int64
 4   cases_active             1044 non-null   int64
 5   cases_cluster            1044 non-null   int64
 6   cases_unvax              1044 non-null   int64
 7   cases_pvax               1044 non-null   int64
 8   cases_fvax               1044 non-null   int64
 9   cases_boost              1044 non-null   int64
 10  cases_child              1044 non-null   int64
 11  cases_adolescent         1044 non-null   int64
 12  cases_adult              1044 non-null   int64
 13  cases_elderly            1044 non-null   int64
 14  cases_0_4                1044 non-null   int64
 15  cases_5_11               1044 non-null   int64
 16  cases_12_17              1044 non-null   int64
 17  cases_18_29              1044 non-null   int64
 18  cases_30_39              1044 non-null   int64
 19  cases_40_49              1044 non-null   int64
 20  cases_50_59              1044 non-null   int64
 21  cases_60_69              1044 non-null   int64
 22  cases_70_79              1044 non-null   int64
 23  cases_80                 1044 non-null   int64
 24  cluster_import           702 non-null    float64
 25  cluster_religious        702 non-null    float64
 26  cluster_community        702 non-null    float64
 27  cluster_highRisk         702 non-null    float64
 28  cluster_education        702 non-null    float64
 29  cluster_detentionCentre  702 non-null    float64
 30  cluster_workplace        702 non-null    float64
dtypes: float64(7), int64(23), object(1)
memory usage: 253.0+ KB

In [8]:
#checking for missing values, gaps/ lacking data columns using pd.isnull() function.
df_malaysia.isnull().sum()

date                         0
cases_new                    0
cases_import                 0
cases_recovered              0
cases_active                 0
cases_cluster                0
cases_unvax                  0
cases_pvax                   0
cases_fvax                   0
cases_boost                  0
cases_child                  0
cases_adolescent             0
cases_adult                  0
cases_elderly                0
cases_0_4                    0
cases_5_11                   0
cases_12_17                  0
cases_18_29                  0
cases_30_39                  0
cases_40_49                  0
cases_50_59                  0
cases_60_69                  0
cases_70_79                  0
cases_80                     0
cluster_import             342
cluster_religious          342
cluster_community          342
cluster_highRisk           342
cluster_education          342
cluster_detentionCentre    342
cluster_workplace          342
dtype: int64

In [9]:
#to show the descriptive analysis of cases_malaysia dataset.
df_malaysia.describe()

,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,cases_boost,cases_child,...,cases_60_69,cases_70_79,cases_80,cluster_import,cluster_religious,cluster_community,cluster_highRisk,cluster_education,cluster_detentionCentre,cluster_workplace
count,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,...,1044.000000,1044.000000,1044.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000,702.000000
mean,4788.151341,36.837165,4730.863027,55491.945402,507.126437,1923.557471,417.182950,1298.866858,1148.544061,604.522031,...,270.979885,119.886973,50.156130,0.423077,12.393162,104.420228,18.843305,55.374644,33.323362,337.068376
std,6660.965126,96.394406,6611.410355,74825.116105,734.879686,2783.280579,1262.247896,2379.039427,2830.089566,928.562723,...,370.017232,162.573346,63.625775,2.928863,42.299278,169.011640,27.437928,111.620347,62.894309,469.742478
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,582.500000,3.000000,242.750000,4920.250000,4.000000,147.750000,0.000000,0.000000,0.000000,44.000000,...,26.000000,7.750000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2375.000000,6.000000,2370.500000,27730.000000,126.000000,737.000000,13.000000,161.500000,0.000000,171.000000,...,124.000000,66.000000,30.000000,0.000000,0.000000,9.000000,7.500000,10.000000,0.000000,98.500000
75%,5348.250000,15.250000,5233.000000,62899.500000,743.000000,2542.000000,83.500000,1379.000000,1239.500000,744.000000,...,340.750000,149.000000,72.000000,0.000000,5.000000,141.000000,25.750000,46.000000,43.750000,526.000000
max,33406.000000,719.000000,33872.000000,323785.000000,3394.000000,12682.000000,7316.000000,13061.000000,18165.000000,4389.000000,...,2060.000000,927.000000,361.000000,54.000000,359.000000,825.000000,189.000000,920.000000,439.000000,2338.000000

In [10]:
'2. collected_covid_daily_cases dataset'

'2. collected_covid_daily_cases dataset'

In [11]:
#load collected_covid_daily_cases dataset CSV file using Pandas
df_collected = pd.read_csv('collected_covid_daily_cases.csv')
df_collected

,date,holiday,malaysia_cases_new,state,state_cases_new,admitted_covid,icu_covid
0,2022-08-01,non-holiday,3213,Johor,114,41,4
1,2022-08-01,non-holiday,3213,Kedah,130,26,8
2,2022-08-01,non-holiday,3213,Kelantan,42,6,2
3,2022-08-01,non-holiday,3213,Melaka,90,14,2
4,2022-08-01,non-holiday,3213,Negeri Sembilan,153,14,2
...,...,...,...,...,...,...,...
1947,2022-11-30,non-holiday,1737,Selangor,367,100,11
1948,2022-11-30,non-holiday,1737,Terengganu,57,19,5
1949,2022-11-30,non-holiday,1737,W.P. Kuala Lumpur,193,25,0
1950,2022-11-30,non-holiday,1737,W.P. Labuan,24,2,0
1951,2022-11-30,non-holiday,1737,W.P. Putrajaya,19,9,0

In [12]:
print(df_collected)

            date      holiday  malaysia_cases_new              state  \
0     2022-08-01  non-holiday                3213              Johor
1     2022-08-01  non-holiday                3213              Kedah
2     2022-08-01  non-holiday                3213           Kelantan
3     2022-08-01  non-holiday                3213             Melaka
4     2022-08-01  non-holiday                3213    Negeri Sembilan
...          ...          ...                 ...                ...
1947  2022-11-30  non-holiday                1737           Selangor
1948  2022-11-30  non-holiday                1737         Terengganu
1949  2022-11-30  non-holiday                1737  W.P. Kuala Lumpur
1950  2022-11-30  non-holiday                1737        W.P. Labuan
1951  2022-11-30  non-holiday                1737     W.P. Putrajaya

      state_cases_new  admitted_covid  icu_covid
0                 114              41          4
1                 130              26          8
2                  42               6          2
3                  90              14          2
4                 153              14          2
...               ...             ...        ...
1947              367             100         11
1948               57              19          5
1949              193              25          0
1950               24               2          0
1951               19               9          0

[1952 rows x 7 columns]

In [13]:
#review data format 
print("Collected_covid_daily_cases dataset dimensions : {}".format(df_collected.shape))

Collected_covid_daily_cases dataset dimensions : (1952, 7)

In [14]:
#review data types, shape, lengths
df_collected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1952 non-null   object
 1   holiday             1952 non-null   object
 2   malaysia_cases_new  1952 non-null   int64
 3   state               1952 non-null   object
 4   state_cases_new     1952 non-null   int64
 5   admitted_covid      1952 non-null   int64
 6   icu_covid           1952 non-null   int64
dtypes: int64(4), object(3)
memory usage: 106.9+ KB

In [15]:
#checking for missing values, gaps/ lacking data columns using pd.isnull() function.
df_collected.isnull().sum()

date                  0
holiday               0
malaysia_cases_new    0
state                 0
state_cases_new       0
admitted_covid        0
icu_covid             0
dtype: int64

In [16]:
#to show the descriptive analysis of collected_covid_daily_case dataset.
print ('Descriptive analysis of the collected_covid_daily_case dataset: ')
print (df_collected.describe())

Descriptive analysis of the collected_covid_daily_case dataset:
       malaysia_cases_new  state_cases_new  admitted_covid    icu_covid
count         1952.000000       1952.00000     1952.000000  1952.000000
mean          2558.319672        159.89498       19.650615     4.037910
std            927.975028        247.05928       19.692793     3.887922
min           1186.000000          0.00000        0.000000     0.000000
25%           1867.000000         43.00000        7.000000     1.000000
50%           2348.000000         82.00000       14.000000     3.000000
75%           3118.000000        159.00000       25.000000     6.000000
max           5330.000000       2164.00000      134.000000    20.000000

In [17]:
'DATA PREPARATION'

'DATA PREPARATION'

In [18]:
#select columns from cases_malaysia dataset which are "date" and "cases_new" to create a cleaned dataset 'cleaned_df'.
cleaned_df = df_malaysia
cleaned_df = cleaned_df[["date", "cases_new"]]
#convert the "date" to datetime64.
cleaned_df["date"] = pd.to_datetime(cleaned_df["date"],format = "%Y-%m-%d")
#filter the data between 2 dates (from 2022-08-01 until 2022-11-30)
cleaned_df =cleaned_df.loc[(cleaned_df["date"] >= "2022-08-01")
                   & (cleaned_df["date"] < "2022-12-01")]
print(cleaned_df)

           date  cases_new
919  2022-08-01       3213
920  2022-08-02       4204
921  2022-08-03       5330
922  2022-08-04       4413
923  2022-08-05       3927
...         ...        ...
1036 2022-11-26       2898
1037 2022-11-27       2022
1038 2022-11-28       2465
1039 2022-11-29       1672
1040 2022-11-30       1737

[122 rows x 2 columns]

C:\Users\Acer\AppData\Local\Temp\ipykernel_9732\314236796.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["date"] = pd.to_datetime(cleaned_df["date"],format = "%Y-%m-%d")

In [19]:
#review data format
print("Cleaned cases_malaysia dataset dimensions : {}".format(cleaned_df.shape))

Cleaned cases_malaysia dataset dimensions : (122, 2)

In [20]:
#review data types, shape, lengths
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 919 to 1040
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       122 non-null    datetime64[ns]
 1   cases_new  122 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 2.9 KB

In [21]:
#checking for missing values, gaps/ lacking data columns using pd.isnull() function.
cleaned_df.isnull().sum()

date         0
cases_new    0
dtype: int64

In [22]:
#to show the descriptive analysis of the cleaned dataset.
print ('Descriptive analysis of the cleaned cases_malaysia dataset: ')
print (cleaned_df.describe())

Descriptive analysis of the cleaned cases_malaysia dataset:
         cases_new
count   122.000000
mean   2558.319672
std     931.563036
min    1186.000000
25%    1868.500000
50%    2348.000000
75%    3109.250000
max    5330.000000

In [23]:
'DATA TRANSFORMATION'

'DATA TRANSFORMATION'

In [24]:
#to remove duplicates for 'date' column from collected_covid_daily_case dataset for plotting graph visualisation.
collected_remove_dups = df_collected.drop_duplicates('date')
print(collected_remove_dups)

            date          holiday  malaysia_cases_new  state  state_cases_new  \
0     2022-08-01      non-holiday                3213  Johor              114
16    2022-08-02      non-holiday                4204  Johor               82
32    2022-08-03      non-holiday                5330  Johor              113
48    2022-08-04      non-holiday                4413  Johor               95
64    2022-08-05      non-holiday                3927  Johor              128
...          ...              ...                 ...    ...              ...
1872  2022-11-26      non-holiday                2898  Johor               47
1888  2022-11-27      non-holiday                2022  Johor               37
1904  2022-11-28  Special holiday                2465  Johor               42
1920  2022-11-29      non-holiday                1672  Johor               39
1936  2022-11-30      non-holiday                1737  Johor               43

      admitted_covid  icu_covid
0                 41          4
16                42          4
32                46          5
48                46          5
64                59          6
...              ...        ...
1872              50          8
1888              43          8
1904              39         10
1920              30         12
1936              25         11

[122 rows x 7 columns]

In [25]:
#to select 'date', 'holiday' and 'malaysia_cases_new' columns for plotting graph visualisation.
collected_selectdf = collected_remove_dups.iloc[:, [0,1,2]]
print(collected_selectdf)

            date          holiday  malaysia_cases_new
0     2022-08-01      non-holiday                3213
16    2022-08-02      non-holiday                4204
32    2022-08-03      non-holiday                5330
48    2022-08-04      non-holiday                4413
64    2022-08-05      non-holiday                3927
...          ...              ...                 ...
1872  2022-11-26      non-holiday                2898
1888  2022-11-27      non-holiday                2022
1904  2022-11-28  Special holiday                2465
1920  2022-11-29      non-holiday                1672
1936  2022-11-30      non-holiday                1737

[122 rows x 3 columns]

In [26]:
#review data types, shape, lengths
collected_selectdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 1936
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                122 non-null    object
 1   holiday             122 non-null    object
 2   malaysia_cases_new  122 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.8+ KB

In [27]:
#checking for missing values, gaps/ lacking data columns using pd.isnull() function.
collected_selectdf.isnull().sum()

date                  0
holiday               0
malaysia_cases_new    0
dtype: int64

In [28]:
#to show the descriptive analysis of the common dataset which has cleaned to the purpose of my objective.
print ('Descriptive analysis of the cleaned collected_covid_daily_case dataset dataset: ')
print (collected_selectdf.describe())

Descriptive analysis of the cleaned collected_covid_daily_case dataset dataset:
       malaysia_cases_new
count          122.000000
mean          2558.319672
std            931.563036
min           1186.000000
25%           1868.500000
50%           2348.000000
75%           3109.250000
max           5330.000000

In [29]:
'DATA VISUALISATION'

'DATA VISUALISATION'

In [30]:
#import required library
#use altair to plot graph visualisation for cleaned_df dataset
import altair as alt

alt.Chart(cleaned_df).mark_bar().encode(
    x = 'date',
    y = 'cases_new',
    #tooltip is to display x and y variables associated "date" and "cases_new" respectively, and also 'holiday' to show the differences.
    tooltip=['date','cases_new']
    
).properties(width=900)

alt.Chart(...)

In [33]:
#import required library
#use altair to plot graph visualisation for collected_covid_daily_cases with 'date', 'holiday' and 'malaysia_cases_new' columns.

alt.Chart(collected_selectdf).mark_bar().encode(
    x = 'date',
    y = 'malaysia_cases_new',
    #tooltip is to display x and y variables associated 'date' and 'malaysia_cases_new' respectively, and also 'holiday' to show the differences.
    tooltip=['date','holiday','malaysia_cases_new'],
    color='holiday'
    
).properties(width=800)

alt.Chart(...)