In [4]:
#load cases_malaysia and holiday dataset CSV file using Pandas
#use head function to view the first 5 dataset values

import pandas as pd
df = pd.read_csv('cases_malaysia.csv')
df.head()

df1 = pd.read_csv('collected_covid_daily_cases.csv')
df1.head()

print(df)
print(df1)

            date  cases_new  cases_import  cases_recovered  cases_active  \
0     2020-01-25          4             4                0             4
1     2020-01-26          0             0                0             4
2     2020-01-27          0             0                0             4
3     2020-01-28          0             0                0             4
4     2020-01-29          3             3                0             7
...          ...        ...           ...              ...           ...
1039  2022-11-29       1672             1             2722         26578
1040  2022-11-30       1737             1             3338         24960
1041  2022-12-01       2375             4             2857         24467
1042  2022-12-02       2421             2             2826         24053
1043  2022-12-03       1866             6             2814         23099

      cases_cluster  cases_unvax  cases_pvax  cases_fvax  cases_boost  ...  \
0                 0            4           0           0            0  ...
1                 0            0           0           0            0  ...
2                 0            0           0           0            0  ...
3                 0            0           0           0            0  ...
4                 0            3           0           0            0  ...
...             ...          ...         ...         ...          ...  ...
1039              4          174           7         352         1139  ...
1040              0          197          11         399         1130  ...
1041            106          264           8         641         1462  ...
1042              7          241          10         544         1626  ...
1043              4          181          12         389         1284  ...

      cases_60_69  cases_70_79  cases_80  cluster_import  cluster_religious  \
0               0            0         0             NaN                NaN
1               0            0         0             NaN                NaN
2               0            0         0             NaN                NaN
3               0            0         0             NaN                NaN
4               0            0         0             NaN                NaN
...           ...          ...       ...             ...                ...
1039          103           59        68             0.0                0.0
1040          141           85        86             0.0                0.0
1041          138          116        86             0.0                0.0
1042          136          108        90             0.0                0.0
1043           94           84        79             0.0                0.0

      cluster_community  cluster_highRisk  cluster_education  \
0                   NaN               NaN                NaN
1                   NaN               NaN                NaN
2                   NaN               NaN                NaN
3                   NaN               NaN                NaN
4                   NaN               NaN                NaN
...                 ...               ...                ...
1039                0.0               0.0                4.0
1040                0.0               0.0                0.0
1041                0.0              10.0               96.0
1042                0.0               0.0                7.0
1043                0.0               0.0                4.0

      cluster_detentionCentre  cluster_workplace
0                         NaN                NaN
1                         NaN                NaN
2                         NaN                NaN
3                         NaN                NaN
4                         NaN                NaN
...                       ...                ...
1039                      0.0                0.0
1040                      0.0                0.0
1041                      0.0                0.0
1042                      0.0                0.0
1043                      0.0                0.0

[1044 rows x 31 columns]
            date      holiday  malaysia_cases_new              state  \
0     2022-08-01  non-holiday                3213              Johor
1     2022-08-01  non-holiday                3213              Kedah
2     2022-08-01  non-holiday                3213           Kelantan
3     2022-08-01  non-holiday                3213             Melaka
4     2022-08-01  non-holiday                3213    Negeri Sembilan
...          ...          ...                 ...                ...
1947  2022-11-30  non-holiday                1737           Selangor
1948  2022-11-30  non-holiday                1737         Terengganu
1949  2022-11-30  non-holiday                1737  W.P. Kuala Lumpur
1950  2022-11-30  non-holiday                1737        W.P. Labuan
1951  2022-11-30  non-holiday                1737     W.P. Putrajaya

      state_cases_new  admitted_covid  icu_covid
0                 114              41          4
1                 130              26          8
2                  42               6          2
3                  90              14          2
4                 153              14          2
...               ...             ...        ...
1947              367             100         11
1948               57              19          5
1949              193              25          0
1950               24               2          0
1951               19               9          0

[1952 rows x 7 columns]

In [ ]:
#select columns for cases_malaysia data which are 'date' and 'cases_new'.
df = df[['date', 'cases_new']]
#convert the 'date' to datetime64.
df['date'] = pd.to_datetime(df['date'],format = '%Y-%m-%d')
#filter the data between 2 dates (from 2022-08-01 until 2022-11-30)
filtered_df = df.loc[(df['date'] >= '2022-08-01')
                   & (df['date'] < '2022-12-01')]

#select columns for holiday data which are 'date' and 'holiday'.
df1 = df1[['date', 'holiday']]
#convert the 'date' to datetime64.
df1['date'] = pd.to_datetime(df1['date'],format = '%Y-%m-%d')
#filter the data between 2 dates (from 2022-08-01 until 2022-11-30)
filtered_df1 = df1.loc[(df1['date'] >= '2022-08-01')
                   & (df1['date'] < '2022-12-01')]

print(filtered_df)
print(filtered_df1)

In [ ]:
#to review the shape and size of both dataframes.
print(df.shape)
print(df1.shape)

In [ ]:
#to list the data types used by both dataframes to characterize each attribute. 
print(df.dtypes)
print(df1.dtypes)

In [ ]:
#to show the descriptive analysis of cases_malaysia dataframe.
print(df.describe())

In [ ]:
#to check for missing values in each columns of the cases_malaysia dataframe
missing_data = df.isnull().mean()*100
missing_data.sort_values(ascending=False)

In [ ]:
#to check for missing values in each columns of the holiday dataframe.
missing_data = df1.isnull().mean()*100
missing_data.sort_values(ascending=False)

In [ ]:
#merge 2 dataframes (cases_malaysia and holiday) with the same index_column.
inner_merged = pd.merge(filtered_df1, filtered_df)
print(inner_merged)

In [ ]:
#to review the shape and size of the inner_merged dataframe.
print(inner_merged.shape)

In [ ]:
#to list the data types used by the dataframe to characterize each attribute. 
print(inner_merged.dtypes)

In [ ]:
#to show the descriptive analysis of the dataframe.
print(inner_merged.describe())

In [ ]:
#to check for missing values in each columns.
missing_data = inner_merged.isnull().mean()*100
missing_data.sort_values(ascending=False)

In [ ]:
#import required modules
import altair as alt

alt.Chart(inner_merged).mark_bar().encode(
    x = 'date',
    y = 'cases_new',
    #tooltip is to display x and y variables associated "date" and "cases_new" respectively, and also 'holiday' to show the differences.
    tooltip=['date','holiday','cases_new'],
    color='holiday'
).properties(width=800)

In [ ]:
import pandas as pd
df2 = pd.read_csv(r'C:\Users\Acer\Desktop\group_project302\collected_covid_daily_cases.csv')
df2.head()
print(df2)

In [ ]:
print(df2.shape)

In [ ]:
print(df2.dtypes)

In [ ]:
print(df2.describe())

In [ ]:
missing_data = df2.isnull().mean()*100
missing_data.sort_values(ascending=False)

In [ ]:
import altair as alt

alt.Chart(df2).mark_bar().encode(
    x = 'date',
    y = 'malaysia_cases_new',
    tooltip=['date','holiday','malaysia_cases_new'],
    color='holiday'
).properties(width=1000)

In [ ]:
print("hello world")